<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Choose Address</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static', filename='images/icons/favicon.ico')}}"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fonts/iconic/css/material-design-iconic-font.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animate/animate.css')}}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/animsition/css/animsition.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/select2/select2.min.css')}}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <!--===============================================================================================--><link rel="shortcut icon" href="{{url_for('static', filename='images/icons/favicon.ico')}}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                {% if user %}
                <li class="nav-item ml-auto">
                    <p style="display: inline-block;" class="navbar-text">You are currently logged in as {{user}}</p>
                    <a href="/logout" type="button" class="nav-link btn btn-warning" style="display: inline-block;">Log
                        Out</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>{% for msg in get_flashed_messages() %}
    {% if msg[0] == "0" %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p>{{msg[1:]}}</p>
    </div>
    {% elif msg[0] == "1" %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p>{{msg[1:]}}</p>
    </div>
    {% endif %}
    {% endfor %}
    <div class="limiter">
		<div class="container-login100" style="background-image: url({{url_for('static', filename='images/bg-01.jpg')}});">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" method="POST">
					<span class="login100-form-title p-b-49">
						Information
					</span>

					<div class="swrap-input100 validate-input m-b-23" data-validate = "First Name is required">
                        <input class="sinput100" type="text" name="fname" placeholder="First Name" id="fname" required>
                    </div>
                    
                    <div class="swrap-input100 validate-input m-b-23" data-validate = "Last Name is required">
                        <input class="sinput100" type="text" name="lname" id="lname" placeholder="Last Name" required>
                    </div>
                    
                    <div class="swrap-input100 validate-input m-b-23" data-validate = "Email Address is required">
                        <input class="sinput100" type="email" name="email" id="email" placeholder="Email Address" required>
                    </div>
                    
                    <div class="swrap-input100 validate-input m-b-23" data-validate = "Password is required">
                        <input class="sinput100" type="password" name="pwd" id="pwd" placeholder="Password" required>
                    </div>
                    
                    <div class="swrap-input100 validate-input m-b-23" data-validate = "Confirm Password is required">
                        <input class="sminput100" type="password" name="pwd_confirm" id="pwd_confirm" placeholder="Confirm Password" required>
                        <span style="display: inline-block" id='message'></span>
                    </div>
                    
                    <div class="swrap-input100 validate-input m-b-23" data-validate = "Address is required">
                        <input class="sinput100" type="text" name="addr1" id="addr1" placeholder="Address 1" required>
                    </div>

                    <div class="swrap-input100 validate-input m-b-23">
                        <input class="sinput100" type="text" name="addr2" id="addr2" placeholder="Address 2">
                    </div>

                    <div class="swrap-input100 validate-input m-b-23" data-validate = "City is required">
                        <input class="sinput100" type="text" name="city" id="city" placeholder="City" required>
                    </div>
                    
                    <div class="swrap-input100 validate-input m-b-23" data-validate = "State is required">
                        <input class="sinput100" type="text" name="state" id="state" placeholder="State" required>
                    </div>

                    <div class="swrap-input100 validate-input m-b-23" data-validate = "Address is required">
                        <input class="sinput100" type="number" name="zip_code" id="zip_code" placeholder="Zip Code" required>
                    </div>

					<br>
					<br>
					
					<!--<div class="text-right p-t-8 p-b-31">
						<a href="#">
							Forgot password?
						</a>
					</div>-->
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn"><input type="submit" value="">Submit</button>
						</div>
					</div>

					<!--<div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Or Sign Up Using
						</span>
					</div>

					<div class="flex-c-m">
						<a href="#" class="login100-social-item bg1">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="login100-social-item bg2">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="#" class="login100-social-item bg3">
							<i class="fa fa-google"></i>
						</a>
					</div>-->
				</form>
			</div>
		</div>
	</div>
    <!--<form method="POST">
        <input type="text" name="fname" id="fname" required>
        <input type="text" name="lname" id="lname" required>
        <input type="email" name="email" id="email" required>
        <input type="password" name="pwd" id="pwd" required>
        <input type="password" name="pwd_confirm" id="pwd_confirm" required>
        <span id='message'></span>
        <input type="text" name="addr1" id="addr1" required>
        <input type="text" name="addr2" id="addr2">
        <input type="text" name="city" id="city" required>
        <input type="text" name="state" id="state" required>
        <input type="number" name="zip_code" id="zip_code" required>
        <input type="submit" value="Submit">
    </form>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!--===============================================================================================-->
	<script src="{{url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{url_for('static', filename='vendor/animsition/js/animsition.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{url_for('static', filename='vendor/bootstrap/js/popper.js')}}"></script>
        <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{url_for('static', filename='vendor/daterangepicker/moment.min.js')}}"></script>
        <script src="{{url_for('static', filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{url_for('static', filename='vendor/countdowntime/countdowntime.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
        <script>
            $('#pwd, #pwd_confirm').on('keyup', function () {
                    if ($('#pwd').val() == $('#pwd_confirm').val()) {
                        $('#message').html('Matching').css('color', 'green');
                    } else
                        $('#message').html('Not Matching').css('color', 'red');
                });
        </script>

</body>

</html>